<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>TODO App </title>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
            <script src="main.js"></script>
            {% load static %}
            <link rel="stylesheet" href="{% static 'css/style.css' %}">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
            <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        </head>

        <body class="w3-theme-l4">

            <header class="w3-container w3-blue w3-myfont">
                <h1>
                    <a href="/" style="text-decoration: none; padding-top: 25px;" class="w3-display-topmiddle">TodoList</a>
                    <br> <br>
                </h1>
                <p>
                    <a href="/todos/add" style="text-decoration: none">
                        <button class="w3-button w3-xxxlarge w3-square w3-teal" style="position: fixed;">
                                +
                        </button>
                    </a>
                </p>
            </header>


            <div style="width:70%; margin-right: 20%;margin-left: 20%;">
            <hr>
            