{% include 'partials/header.html' %}
<a href="/" style="text-decoration: none">
    <button class="w3-button w3-xlarge w3-square w3-teal">
            &#8249;
    </button>
</a>
<br>
<div class="w3-card-4">
        <br>
        <div class="w3-container w3-red">
          <h2>New Todo</h2>
        </div>
        <br>
        <form class="w3-container" action="{% url 'add' %}" method="post">
            {% csrf_token %}

            <p>
            <label for="title">Title</label>
            <br>
            <input type="text" name="title" id="title" class="w3-input w3-border" required>
            <br>
            </p>
            
            <p>
            <label for="text">Text</label>
            <br>
            <input type="text" name="text" id="text" class="w3-input w3-border" required>
            <br>
            </p>

            <input type="submit" value="submit" class="w3-btn w3-teal">
        </form>

{% include 'partials/footer.html' %}